<!DOCTYPE html>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/progressbar.js"></script>
    <script src="/javascripts/thewall.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
    <div class="dataContainer">
        <div id="lineContainer">
            <svg id="verticalBar" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 70 244">
              <path fill-opacity="0" width="70" stroke-width="4" stroke="black"   d="M 0 0  L 0 244"/>
              <rect width="70" fill-opacity="0" height="244" stroke-width="3" stroke="rgb(0,0,0)"/>
              <path id="line-path" fill-opacity="0" stroke-width="140" stroke="blue" d="M 0 0  L 0 244"/>
            </svg>
            <svg id="mediumLine"> 
                <path stroke-width="3" stroke="black" d="M 0 122  L 110 122"/>
            </svg>
        </div>

      <div id="circleContainer"></div>   
    </div>
  </body>
</html>
